.gift-item {
  table-layout: fixed;
  width: 100%;
}

.gift-name{
  width: 50%;
}

.confirmation-button{
  width: 20%;
}

.gift-link {
  width: 30%;
}
.gift-button h2 {
  flex-grow: 1;
}

.lock{
  font-size: 3em;
}

@media (max-width: 768px) {
  .gift-image {
      width: 40vw;
      height: 20vh;
      max-height: 50vh;
      border-radius: 1em;
  }
  .lock{
      font-size: 2em;
  }
}