body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/marmori.png');
    background-repeat: repeat;
    background-position: center;
}

.gift-container{
    width: 100%;
    max-width: 100vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 10%;
}

.back-button-container,
.text-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.gift-list-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.gift-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1024px) {
    .gift-container{
        padding-top: 50%;
    }
}