.invitation-page {
  height: 100vh;
  width: 100%;
  background-image: url('../../assets/kutsu-kuva.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}


@font-face {
  font-family: 'MyCustomFont';
  src: url('../../assets/Modesty-modded.ttf');
}

.invitation-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.invitation-button-container {
  align-self: flex-end;
  margin: 10%;
}

.invitation-text-container {
  text-align: center;
  margin-bottom: 10%;
  font-family: 'MyCustomFont';
  font-size: 3em;
}

.invitation-title {
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .invitation-page {
    background-size: 100% 100%;
  }
  .invitation-text-container {
    font-size: 2em;
  }
}