body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}


.invitation-page {
  background-image: url('../../assets/kutsu-kuva.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  max-width: 75vw; /* Adjust as needed */
  min-width: 60vw;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 20px;
  box-sizing: border-box;;
}

.text-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  position: relative; /* Add this */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.button-container button {
  position: absolute; /* Add this */
  left: 65%; /* Add this */
}

@media (max-width: 600px) {
  .content-container {
    max-width: 100vw;
    min-width: 100vw;

    aspect-ratio: auto;
  }
}

@font-face {
  font-family: 'MyCustomFont'; /* Replace with your font name */
  src: url('../../assets/Modesty-modded.ttf'); /* Replace with the path to your .ttf file */
}

h1, p {
  font-family: 'MyCustomFont'; /* Replace with your font name */
  font-size: 4em;
  margin: 5%;
}
